{
    "extends": [
        "react-app"
    ],
    "rules": {
        "semi": [1, "never"],
        "comma-dangle": [1, {
            "arrays": "ignore",
            "objects": "always",
            "imports": "never",
            "exports": "never",
            "functions": "ignore"
        }]
    }
}